.product-card {
  width: 280px;
  border-radius: 12px;
  height: 500px;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.brand {
  font-size: 12px;
  color: gray;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  margin: 6px 0;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.final {
  font-size: 16px;
  font-weight: bold;
  color: #d32f2f;
}

.initial {
  font-size: 12px;
  text-decoration: line-through;
  color: #888;
}

.discount {
  font-size: 12px;
  color: #388e3c;
}

.availability {
  font-size: 12px;
  color: #2e7d32;
  margin-top: 6px;
}

.product-card img{
  
  width: 100%;
  height: 250px;
  object-fit: contain;
  padding: 20px;
}
